/* SanYYao Fonts Hub - Full Index */
/* Generated at: 2026/1/14 18:01:09 */
/* Hosted on GitHub, Assets served from R2 */


/* --- BBHBartle-Regular --- */
@import url('https://fonts.sanyyao.com/BBHBartle-Regular/latest/result.css');
@import url('https://fonts.sanyyao.com/BBHBartle-Regular/v1.0/result.css');

/* --- BBHHegarty-Regular --- */
@import url('https://fonts.sanyyao.com/BBHHegarty-Regular/latest/result.css');
@import url('https://fonts.sanyyao.com/BBHHegarty-Regular/v1.0/result.css');

/* --- Dymon-ShouXieTi --- */
@import url('https://fonts.sanyyao.com/Dymon-ShouXieTi/latest/result.css');
@import url('https://fonts.sanyyao.com/Dymon-ShouXieTi/v2.2/result.css');

/* --- Jiying-Huipianheyuan --- */
@import url('https://fonts.sanyyao.com/Jiying-Huipianheyuan/latest/result.css');
@import url('https://fonts.sanyyao.com/Jiying-Huipianheyuan/v1.02/result.css');
@import url('https://fonts.sanyyao.com/Jiying-Huipianheyuan/v1.03/result.css');

/* --- KodeMono --- */
@import url('https://fonts.sanyyao.com/KodeMono/latest/result.css');
@import url('https://fonts.sanyyao.com/KodeMono/v1.206/result.css');

/* --- Tangyuan --- */
@import url('https://fonts.sanyyao.com/Tangyuan/latest/result.css');
@import url('https://fonts.sanyyao.com/Tangyuan/v0.12/result.css');
