/* SanYYao Fonts Hub - Full Index */
/* Generated at: 2026/1/16 17:25:14 */
/* Hosted on GitHub, Assets served from R2 */


/* --- BBHBartleRegular --- */
@import url('https://fonts.sanyyao.com/BBHBartleRegular/v1.0/result.css');

/* --- BBHHegartyRegular --- */
@import url('https://fonts.sanyyao.com/BBHHegartyRegular/v1.0/result.css');

/* --- DymonShouXieTi --- */
@import url('https://fonts.sanyyao.com/DymonShouXieTi/v2.2/result.css');

/* --- JiyingHuipianheyuan --- */
@import url('https://fonts.sanyyao.com/JiyingHuipianheyuan/v1.02/result.css');
@import url('https://fonts.sanyyao.com/JiyingHuipianheyuan/v1.03/result.css');

/* --- KodeMono --- */
@import url('https://fonts.sanyyao.com/KodeMono/v1.206/result.css');

/* --- YousheBiaotihei --- */
@import url('https://fonts.sanyyao.com/YousheBiaotihei/v1.0/result.css');

/* --- ZLabsRoundPix --- */
@import url('https://fonts.sanyyao.com/ZLabsRoundPix/M-v0.4/result.css');
@import url('https://fonts.sanyyao.com/ZLabsRoundPix/M/latest/result.css');
@import url('https://fonts.sanyyao.com/ZLabsRoundPix/MD-v0.4/result.css');
@import url('https://fonts.sanyyao.com/ZLabsRoundPix/MD/latest/result.css');
@import url('https://fonts.sanyyao.com/ZLabsRoundPix/MS-v0.4/result.css');
@import url('https://fonts.sanyyao.com/ZLabsRoundPix/MS/latest/result.css');
